
##$page.setTitle("Error")

##$page.setBgColor("#ffffff")

##if ($data.getMessage())
##	$page.addAttribute("onLoad", "parent.showError('$data.getMessage()');")	
##else
##	$page.addAttribute("onLoad", 'parent.showError("Sorry, I tried impossible but wasn't able to finish your request!");')	
##end
##$page.addAttribute("onLoad", "parent.copyFormContent();")	

##<font face="verdana,geneva,helvetica">

##<h2>Error</h2>

##$processingException
<script>
if (parent.window.frames['buffer'])
{

#if ($data.getMessage())
	parent.showError("$data.getMessage()");	
#else
	parent.showError("Sorry, I tried the impossible but wasn't able to finish your request!");	
#end
}
</script>

##<hr>

<table width="100%" height="100%">
<tr><td valign="center">

#if ($data.getMessage())
	<p align="center">$data.getMessage()</p>
#else
	<p align="center">Sorry, I tried impossible but wasn't able to finish your request!</p>
#end

</td></tr>
</table>

##$stackTrace

##</font>

##<br>
