#set ( $module = "Util" )
#utilCommon()

<script id="utilScript" language="JavaScript">

function copyDetails(){
	myForm=parent.document.getElementById('formData');

	myForm.copyorderid.length=1;

	#foreach ($order in $orders)
		if (document.all) {
			ordo = parent.document.createElement("OPTION");
			ordo.text = '$!order.DorderCode';
			ordo.value = '$!order.DorderId';
			myForm.copyorderid.add(ordo);
		}else{
			ordo = new Option();
			ordo.text = '$!order.DorderCode';
			ordo.value = '$!order.DorderId';
			myForm.copyorderid.options[myForm.copyorderid.length] = ordo;
		}
	#end

}
</script>
