#set ( $module = "Main" )
$page.setHttpEquiv("Pragma", "no-cache")
$page.setBgColor("$ui.formBg")
$page.addAttribute("onLoad", "window.parent.copyFormContent();")	

<script id="formScript" language=JavaScript>

var myForm=document.getElementById('formData');

function formInit(){
	myForm.reptitle.value=myForm.reportid.options[myForm.reportid.selectedIndex].text;
	myForm.reportid.focus();
}

function formValidate(){
	if (parent.isEmpty(myForm.reptitle)) return false;
	if (parent.isEmpty(myForm.fromdate)) return false;
	if (parent.isNotDate(myForm.fromdate)) return false;
	if (parent.isEmpty(myForm.todate)) return false;
	if (parent.isNotDate(myForm.todate)) return false;
	return true;
}

function valueChanged(formField){
	if (formField.name=='reportid'){
		myForm.reptitle.value=formField.options[formField.selectedIndex].text;
	}
}

function showReport(){
	if (myForm.reportid.value==1){
		myUrl="$link.setPage("Report1.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==2){
		myUrl="$link.setPage("Report2.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==3){
		myUrl="$link.setPage("Report3.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==4){
		myUrl="$link.setPage("Report4.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==5){
		myUrl="$link.setPage("Report5.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==6){
		myUrl="$link.setPage("Report6.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==7){
		myUrl="$link.setPage("Report7.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==8){
		myUrl="$link.setPage("Report8.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==9){
		myUrl="$link.setPage("Report9.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==10){
		myUrl="$link.setPage("Report10.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==11){
		myUrl="$link.setPage("Report11.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==12){
		myUrl="$link.setPage("Report12.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==13){
		myUrl="$link.setPage("Report13.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==14){
		myUrl="$link.setPage("Report14.vm").setAction("ReportSQL")";
	}else if (myForm.reportid.value==15){
		myUrl="$link.setPage("Report15.vm").setAction("ReportSQL")";
	}
		
	myForm.action= myUrl;
	myForm.submit();
}
</script>

<form id="formData" name="formData" target="_blank" method="post" action="" onSubmit="return formValidate();">
  <div id="Master" align="center">
    <table cellpadding=1 cellspacing=0 border=0>
    <tr>&nbsp;</tr>
 <tr>
	<td>
		<table align="center" cellpadding=10 width="100%" cellspacing=0 border=0 style="border: solid 2px #9CB886;">
		<tr>
			<td>
		<table align="center" cellpadding=0 width="100%" cellspacing=0 border=0>
		<tr>
			<td class=frmlabel align="left">
			    Report&nbsp;
			</td>
			<td align="left">
			<select name="reportid"  tabIndex="1" value="1" onchange="valueChanged(this);" width="340" STYLE="width: 340px">
				<option value="1">Returns Percentage by Location per product</option>
				<option value="2">Returns Percentage by Sales District per product</option>
				<option value="3">Returns Percentage by Sales Area per product</option>
				<option value="4">Returns Percentage by Country per product</option>
				<option value="5">Returns Percentage by Distributor per product</option>
				<option value="6">Distribution Costs by Location per product</option>
				<option value="7">Distribution Costs by Sales District per product</option>
				<option value="8">Distribution Costs by Sales Area per product</option>
				<option value="9">Distribution Costs by Country per product</option>
				<option value="10">Distribution Costs by Distributor per product</option>
				<option value="11">Sales Revenue by Location per product</option>
				<option value="12">Sales Revenue by Sales District per product</option>
				<option value="13">Sales Revenue by Sales Area per product</option>
				<option value="14">Sales Revenue by Country per product</option>
				<option value="15">Sales Revenue by Distributor per product</option>
			</select>
			</td>
		</tr>
		<tr>
			#formCell ("Title" "reptitle" "" 254 340 1)
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
 </tr>
	<tr>
	<td>
    <table align=center cellpadding=0 cellspacing=0 border=0>
 <tr>
	<td>
	&nbsp;
	</td>
 </tr>
      <tr>  
   		#formCellDate ("From" "fromdate" $!today 20 140 2)
			<td width=16>&nbsp;</td>
   		#formEmptyCell()
 		</tr>
      <tr>  
   		#formCellDate ("To" "todate" $!today 20 140 3)
			<td width=16>&nbsp;</td>
		#formLabel("Status")
		<td align="left">
		<select name="status" tabIndex="4" value="30" width="140" STYLE="width: 140px">
			<option value="30">Open</option>
			<option SELECTED value="50">Closed</option>
		</select>
		</td>
 		</tr>
 <tr>
	<td>
	&nbsp;
	</td>
 </tr>


		<tr>
			#formLabel("Distributor")
			<td align="left">
			<select name="distributorid" tabIndex="10" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($distributor in $distributors)
				<option value="$distributor.DistributorId">$distributor.DistributorDisplay</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Location")
			<td align="left">
			<select name="locationid" tabIndex="13" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($location in $locations)
				<option value="$location.LocationId">$location.LocationDisplay</option>
			#end        	
			</select>
			</td>
		</tr>
		<tr>
			#formLabel("Type")
			<td align="left">
			<select name="distributortype" tabIndex="11" value="1" width="140" STYLE="width: 140px">
				<option value="1">(*)</option>
				<option value="10">Person</option>
				<option value="20">Institution</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Type")
			<td align="left">
			<select name="locationtype" tabIndex="14" value="1" width="140" STYLE="width: 140px">
				<option value="1">(*)</option>
				<option value="10">Person</option>
				<option value="20">Institution</option>
			</select>
			</td>
		</tr>
		<tr>
			#formLabel("Category")
			<td align="left">
			<select name="distributorcatid" tabIndex="12" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($distributorcat in $distributorcats)
				<option value="$distributorcat.DistributorCatId">$distributorcat.DistributorCatName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Category")
			<td align="left">
			<select name="locationcatid" tabIndex="15" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($locationcat in $locationcats)
				<option value="$locationcat.LocationCatId">$locationcat.LocationCatName</option>
			#end        	
			</select>
			</td>
		</tr>

 <tr>
	<td>
	&nbsp;
	</td>
 </tr>

		<tr>
			#formLabel("Sales area")
			<td align="left">
			<select name="salesareaid" tabIndex="20" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($salesarea in $salesareas)
				<option value="$salesarea.SalesAreaId">$salesarea.SalesAreaName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Country")
			<td align="left">
			<select name="countryid" tabIndex="22" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($country in $countries)
				<option value="$country.CountryId">$country.CountryName</option>
			#end        	
			</select>
			</td>
		</tr>
		<tr>
			#formLabel("Sales district")
			<td align="left">
			<select name="salesdistrictid" tabIndex="21" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($salesdistrict in $salesdistricts)
				<option value="$salesdistrict.SalesDistrictId">$salesdistrict.SalesDistrictName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Region")
			<td align="left">
			<select name="regionid" tabIndex="23" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($region in $regions)
				<option value="$region.RegionId">$region.RegionName</option>
			#end        	
			</select>
			</td>
		</tr>
<tr>
	<td>
	&nbsp;
	</td>
 </tr>
		<tr>
			#formLabel("Product")
			<td align="left">
			<select name="productid" tabIndex="30" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($product in $products)
				<option value="$product.ProductId">$product.ProductDisplay</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Campaign")
			<td align="left">
			<select name="projectid" tabIndex="35" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($project in $projects)
				<option value="$project.ProjectId">$project.ProjectName</option>
			#end        	
			</select>
			</td>
		</tr>
		<tr>
			#formLabel("Type")
			<td align="left">
			<select name="producttype" tabIndex="31" value="1" width="140" STYLE="width: 140px">
				<option value="1">(*)</option>
				<option value="10">Stock Item</option>
				<option value="50">Print Media</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel("Category")
			<td align="left">
			<select name="projectcatid" tabIndex="36" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($projectcat in $projectcats)
				<option value="$projectcat.ProjectCatId">$projectcat.ProjectCatName</option>
			#end        	
			</select>
			</td>
		</tr>
		<tr>
			#formLabel("Category")
			<td align="left">
			<select name="productcatid" tabIndex="32" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($productcat in $productcats)
				<option value="$productcat.ProductCatId">$productcat.ProductCatName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formEmptyCell()
		</tr>
		<tr>
			#formLabel("UOM")
			<td align="left">
			<select name="uomid" tabIndex="33" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($uom in $uoms)
				<option value="$uom.UomId">$uom.UomName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formEmptyCell()
		</tr>
		<tr>
			#formLabel("Vendor")
			<td align="left">
			<select name="vendorid" tabIndex="34" value="999" width="140" STYLE="width: 140px">
				<option value="999">(*)</option>
			#foreach ($vendor in $vendors)
				<option value="$vendor.VendorId">$vendor.VendorName</option>
			#end        	
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formEmptyCell()
		</tr>



	</table>
	</td>
 </tr>
</table>
	</td>
 </tr>
</table>


    <input type="hidden" name="eventSubmit_doReport" value="Show"/>
  </div>
</form>

	
