#set ( $module = "Report" )

#reportHeader($!reptitle)
<tr><td>
<table  width="80%" align="center" cols=3 cellpadding=2 cellspacing=0 border=0>
	#if ($!entries)
		<tr>
			<td class="reptblhead" align="left" width="40%">Area&nbsp;</td>
			<td class="reptblhead" align="left" width="10%">&nbsp;ID&nbsp;</td>
			<td class="reptblhead" align="left" width="20%">Product&nbsp;</td>
			<td class="reptblhead" align="right" width="10%">Shipped&nbsp;</td>
			<td class="reptblhead" align="right" width="10%">Sold&nbsp;</td>
			<td class="reptblhead" align="right" width="10%">Amount&nbsp;</td>
		</tr>        
	    #foreach ($entry in $entries)
			<tr class="repcontent">
				<td class="repcontent" align="left" width="40%">$!entry.getValue(11)&nbsp;</td>
				<td class="repcontent" align="left" width="10%">&nbsp;$!entry.getValue(12)</td>
				<td class="repcontent" align="left" width="20%">$!entry.getValue(13)&nbsp;</td>
				<td class="repcontent" align="right" width="10%">$!entry.getValue(4).asInt()&nbsp;</td>
				<td class="repcontent" align="right" width="10%">$!entry.getValue(5).asInt()&nbsp;</td>
				<td class="repcontent" align="right" width="10%">$!af.format( $!entry.getValue(10).asBigDecimal() )&nbsp;</td>
			</tr>        
	    #end
	#end
</table>
</td></tr>
#reportFooter()
