#set ( $module = "Options" )
#listCommon()
#listHeader(3111 "LocationCategoryList.vm" "LocationCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.LocationCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.LocationCatId')">$entry.LocationCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
